.test{
    // overflow-y: scroll;
    // scroll-snap-type: y mandatory;
    overflow-y: scroll;
    max-height: 92vh !important;
    // background-color: red;

    scroll-snap-type: y mandatory !important;
    &::-webkit-scrollbar {
      display: none;
    } 
// scroll-snap-type: block !important;
// transform: rotate(90deg) !important;

    // &::-webkit-scrollbar {
    //     display: none;
    //   }
      // div{
        // height: 100vh;
      //   scroll-snap-align: end;
      // }

    
}

.container {
 
}

.child {
  scroll-snap-align: start;
  height: 100vh;
}